@font-face {
  font-family: "ShareTech";
  src: url("../assets/fonts/ShareTech-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Cyberpunk";
    src: url("../assets/fonts/OpPunk.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  