@import "./vars.scss";
@import "./fonts.scss";
@import "bootstrap/scss/bootstrap.scss";
@import "@rainbow-me/rainbowkit/styles.css";
@import "../components/styles";

div[data-rk] {
    overflow: hidden;
    height: 100vh;
}

* {
    font-family: 'ShareTech';
}

a {
    text-decoration: none;
}

.error-msg {
    font-size: 12px;
    color: $pink;
}